@{
    ViewBag.Title = "Change_Password";
    Layout = "~/Views/Shared/Tutorzone_Comman_Layout.cshtml";
}
@{
    if(TempData["msg"] !=null)
    {
     <script>
         alert('@TempData["msg"]');
     </script>   
    }
}
<div class="row">
    <div class="col-sm-12" style="min-height:450px;">
<h2>Change_Password</h2>
    <hr />
        <br />
            <div class="row">
          <div class="col-sm-3"></div>
        <div class="col-sm-6" style="border:2px solid black;background:white;">
            <br />
            @using (Html.BeginForm("Change_Password", "Tutor", FormMethod.Post, new { enctype = "multipart/form-data", id = "EnquiryForm" }))
            {
                if(TempData["tdm"] !=null)
                {
                  @Html.TextBox("OldPass", TempData["Pass"], new {@class="form-control",placeholder="Enter Old Password"})  
                }
                else{
          @Html.TextBox("OldPass", null, new {@class="form-control",placeholder="Enter Old Password"})
            }
                <br />
          @Html.TextBox("NewPassword", null, new {@class="form-control",placeholder="Enter New Password"})
                <br />
                 @Html.TextBox("ConPassword", null, new {@class="form-control ",placeholder="Confirm New Password"})
                <br />
     
                 <input type="submit" id="btnEnquiry" value="Submit" class="form-control bt btn btn-info"  />
    
            }
            <br />
        </div>
      <div class="col-sm-3"></div>
      </div>
        </div>
    </div>
