@{
    ViewBag.Title = "TProfile";
    Layout = "~/Views/Shared/Tutorzone_Comman_Layout.cshtml";
}
@using demoproject.Models
@using System.Data
@{
    DBManager dm = new DBManager();
    dm.MyCommandText = "Select *from Tutor_Registration where Email ='" + Session["Uid"] + "'";
    DataTable dt = dm.ReadBulkRecord();
    foreach(DataRow dr in dt.Rows)
    {
        
   
<!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">@dr["Name"]</h1>
            <span class="color-text-a">Subject @dr["Subject"]</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/Tutor/Dashboard">Dashboard</a>
              </li>
              <li class="breadcrumb-item">
                <a href="/Tutor/TProfile">Profile</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                @dr["Name"]
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->
<!--/ Agent Single Star /-->
  <section class="agent-single">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                  <img src="/Content/Tutor_Photo/@dr["Photo"]" class="agent-avatar img-fluid" />
                <img src="img/agent-7.jpg" alt="" >
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d">@dr["Name"]
                      <br> @dr["Subject"] Teacher's</h3>
                  </div>
                </div>
                <div class="agent-content mb-3">
                  <p class="content-d color-text-a">
                    Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                    Vivamus suscipit tortor
                    eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat.
                  </p>
                  <div class="info-agents color-a">
                    
                    <p>
                      <strong>Mobile: </strong>
                      <span class="color-text-a"> @dr["Number"]</span>
                    </p>
                    <p>
                      <strong>Email: </strong>
                      <span class="color-text-a"> @dr["Email"]</span>
                    </p>
                    <p>
                      <strong>skype: </strong>
                      <span class="color-text-a"> Margaret.Es</span>
                    </p>
                    
                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fas fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fas fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fas fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fas fa-pinterest-p" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#" class="link-one">
                        <i class="fas fa-dribbble" aria-hidden="true"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
      
          </section>
     }
}
<style>
    /*======================================
//--//-->   INTRO
======================================*/

.intro {
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.intro .owl-theme .owl-dots {
  position: absolute;
  bottom: 70px;
  right: 50px;
}

.intro .owl-theme .owl-dots .owl-dot span {
  background: #ffffff;
  border: 0px solid #ffffff;
}

.intro .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #2eca6a;
}

.intro .owl-theme .owl-dots .owl-dot.active span {
  background-color: #2eca6a;
}

.intro .intro-item {
  padding-top: 2rem;
}

.intro .carousel-item-a {
  position: relative;
  height: 100vh;
}

.intro .carousel-item-a.bg-image {
  background-attachment: scroll;
}

.intro .intro-content {
  position: absolute;
}

.intro .intro-body {
  padding-left: 1rem;
}

.intro .intro-body .price-a {
  color: #ffffff;
  padding: 1rem 1.5rem;
  border: 2px solid #2eca6a;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.030em;
}

.intro .spacial {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
  color: #ffffff;
}

.intro .intro-title-top {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  margin-bottom: 1rem;
  font-size: .9rem;
  color: #ffffff;
  letter-spacing: .05em;
}

.intro .intro-title {
  transition-duration: 9s !important;
  color: #ffffff;
  font-weight: 700;
  font-size: 2.8rem;
  text-transform: uppercase;
}

.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.intro .intro-subtitle.intro-price {
  padding-top: 1rem;
  font-size: 1.2rem;
}

/*------/ Intro Single /------*/

.intro-single {
  padding: 12rem 0 3rem;
}

.intro-single .title-single-box {
  padding: 1rem 0 1rem 2rem;
}

.intro-single .title-single-box {
  border-left: 3px solid #2eca6a;
}

.intro-single .title-single-box .title-single {
  font-weight: 600;
  font-size: 2.2rem;
}

.intro-single .breadcrumb-box {
  padding: 1rem 0 0 .5rem;
}

.intro-single .breadcrumb {
  background-color: transparent;
  padding-right: 0;
  padding-left: 0;
}

/*------/ Agent Single /------*/

.agent-info-box .socials-footer {
  margin-top: 2rem;
}

.agent-info-box .socials-footer li {
  margin-right: 1.5rem;
}

</style>